.lowerHeader{
    background-color: rgb(144, 13, 13);
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px; 
    padding: 10px 20px; 
}
.cat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin: 0; /* remove the left margin that breaks the alignment */
    color: white;
}

.cat p {
    margin: 0;
    padding: 0;
    line-height: 1; 
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
a:hover {
color: pink;
}

body{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}